
<dialog @ref="DialogRef" class="dialog">
    @if (IsOpen)
    {
        <div class="dialog-header">
            <div class="dialog-header-text">@Header</div>
            <button class="btn btn-danger btn-sm" @onclick="Close">X</button>
        </div>
        <div class="dialog-content">
            @ChildContent
        </div>
        <div class="dialog-footer">
            <button class="btn btn-primary" @onclick="OnSave">Save</button>
            <button class="btn btn-secondary" @onclick="Close">Close</button>
        </div>
    }
</dialog>
