
.dialog {
    padding: 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px grey;
    width: 50%;
}

.dialog-header {
    background-color: #f3f3f3;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.dialog-header-text {
    padding: 0.3rem;
    font-weight: bold;
    color: #5d6975;
    font-size: large;
}

.dialog-content {
    margin: 0.5rem;
    max-height: 80vh;
    overflow-y: auto;
}

.dialog-footer {
    background-color: #f3f3f3;
    padding: 0.5rem;
    text-align: right;
}
