
<div style="display:flex; margin:0.3rem;">
    @if (LabelWidth > 0)
    {
        <div style="flex:1;">
            @Label
        </div>
    }
    <div style="flex:1;">
        @Control
    </div>
</div>
