@using BlazorDynamicComponents.Attributes.Panel
@using System.Reflection
@using BlazorDynamicComponents.Display
@typeparam TModel

<ContainerComponent Header="@Header">
    <div style="display:flex;">
        @foreach (var column in Columns)
        {
            <div style="flex:1;">
                <DynamicDisplayTemplate Title="@GetColumnTitle(column.Key)">
                    @foreach (var property in column.Value)
                    {
                        <DynamicDisplayTemplateRow LabelWidth="@GetLabelWidth(property)">
                            <Label>
                                <label style="font-weight:bold;">@GetLabel(property)</label>
                            </Label>
                            <Control>
                                <DynamicPanelControl Model="Model" Property="property" />
                            </Control>
                        </DynamicDisplayTemplateRow>
                    }
                </DynamicDisplayTemplate>
            </div>
        }
    </div>
</ContainerComponent>
