@page "/"
@using BlazorDynamicComponents.Form
@using BlazorDynamicComponents.Modals
@using BlazorDynamicComponents.Panel
@using BlazorDynamicForm.Shared

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="row py-2">
    <div class="col-6">
        <DynamicPanelSourcedComponent TModel="WeatherForecast" Header="Weather Forecast" GetLocation="WeatherForecast/GetWeather" OnEdit="Edit" />
        <Modal @ref="ModalRef" Header="Weather Forecast">
            <DynamicFormSourcedComponent TModel="WeatherForecast" GetLocation="WeatherForecast/GetWeather" />
        </Modal>
    </div>
</div>

@code {
    private Modal ModalRef;

    private async Task Edit()
    {
        await ModalRef.Open();
    }
}
