@page "/"
@using BlazorDynamicComponents.Panel
@using BlazorDynamicForm.Shared

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="row py-2">
    <div class="col-6">
        <DynamicPanelSourcedComponent TModel="WeatherForecast" GetLocation="WeatherForecast/GetWeather" />
    </div>
</div>
