@page "/"
@using BlazorDynamicForm.Panel
@using static BlazorDynamicFormApp.Pages.Weather

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<DynamicPanelComponent Model="Model" />

@code {
    private WeatherForecast Model = new WeatherForecast();
}
