
<div style="display:flex; margin:0.3rem;">
    @if (TitleWidth > 0)
    {
        <div style="flex:1;">
            @Title
        </div>
    }
    <div style="flex:1;">
        @Control
    </div>
</div>
